# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
workspace-eth/contracts/artifacts/Auction_metadata.json
workspace-eth/contracts/artifacts/Auction.json
workspace-eth/contracts/artifacts/Ballot_metadata.json
workspace-eth/contracts/artifacts/Ballot.json
workspace-eth/contracts/artifacts/BookShelf_metadata.json
workspace-eth/contracts/artifacts/BookShelf.json
workspace-eth/contracts/artifacts/Bytes32ToString_metadata.json
workspace-eth/contracts/artifacts/Bytes32ToString.json
workspace-eth/contracts/artifacts/ExampleAmounts_metadata.json
workspace-eth/contracts/artifacts/ExampleAmounts.json
workspace-eth/contracts/artifacts/IERC20_metadata.json
workspace-eth/contracts/artifacts/IERC20.json
workspace-eth/contracts/artifacts/Insurance_metadata.json
workspace-eth/contracts/artifacts/Insurance.json
workspace-eth/contracts/artifacts/Insurance2_metadata.json
workspace-eth/contracts/artifacts/Insurance2.json
workspace-eth/contracts/artifacts/MyContract_metadata.json
workspace-eth/contracts/artifacts/MyContract.json
workspace-eth/contracts/artifacts/Ownable_metadata.json
workspace-eth/contracts/artifacts/Ownable.json
workspace-eth/contracts/artifacts/Owner_metadata.json
workspace-eth/contracts/artifacts/Owner.json
workspace-eth/contracts/artifacts/PiggyBank_metadata.json
workspace-eth/contracts/artifacts/PiggyBank.json
workspace-eth/contracts/artifacts/SecretUsage_metadata.json
workspace-eth/contracts/artifacts/SecretUsage.json
workspace-eth/contracts/artifacts/SecretVault_metadata.json
workspace-eth/contracts/artifacts/SecretVault.json
workspace-eth/contracts/artifacts/Storage_metadata.json
workspace-eth/contracts/artifacts/Storage.json
workspace-eth/contracts/artifacts/Tokens_metadata.json
workspace-eth/contracts/artifacts/Tokens.json
workspace-eth/contracts/artifacts/artifacts/build-info/a2e914eea37ffe8502ad8dcac18b794b.json
workspace-eth/contracts/artifacts/build-info/2eec6808ad13d041e0a89a28545efc93.json
workspace-eth/contracts/artifacts/build-info/08e383a9674f27d862f49907bf21aa53.json
workspace-eth/contracts/artifacts/build-info/024e29564f30704a6f7577f305b5dd3b.json
workspace-eth/contracts/artifacts/build-info/47d5e9e284cde86cd221398368a2f4fc.json
workspace-eth/contracts/artifacts/build-info/3645e98b26d5f459305be3272fb80f0a.json
workspace-eth/contracts/artifacts/build-info/6094e6eec515cd90e2e438f4b50de442.json
workspace-eth/contracts/artifacts/build-info/42957834aac51844612ca491af19ecd3.json
workspace-eth/contracts/artifacts/build-info/c69e2e73ed691f198ec9e602b8d365c0.json
workspace-eth/contracts/artifacts/build-info/c620573be818c216465c913905fd6a09.json
workspace-eth/contracts/artifacts/build-info/d7a9ee9349d68d6f777a958eac2c9821.json
workspace-eth/contracts/artifacts/build-info/d107e3b1a0e53a16cd46c06d741be515.json
workspace-eth/contracts/artifacts/build-info/d26768d17cdfc6c368b7ce4747000cc7.json
workspace-eth/contracts/artifacts/build-info/db4da8280eb9d56d0c9f39c6eace196d.json
workspace-eth/contracts/artifacts/build-info/e36041a94093c9c827f35f32849eb9ae.json
workspace-eth/contracts/artifacts/build-info/ee4f2def5ac050fda6ced0e4ad8247e2.json
workspace-eth/contracts/artifacts/build-info/f91f75def34c0d57867191dd9b58ff92.json
